body {
  margin: 0;
  overflow: hidden;
  background: black;
  touch-action: none;
}

canvas {
  display: block;
}

/* Joystick base */
#joystick {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 120px;
  height: 120px;
  border: 2px solid white;
  border-radius: 50%;
}

/* Joystick stick */
#stick {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 35px;
  top: 35px;
}

/* Buttons */
button {
  position: absolute;
  right: 20px;
  padding: 15px;
  font-size: 18px;
}

#warpBtn {
  bottom: 110px;
}

#landBtn {
  bottom: 40px;
}
